= react_component('window.Wrapper')

<head>

	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Posterchild</title>

	<link rel="stylesheet" href="../../assets/stylesheets/foundation.css" />
	<link rel="stylesheet" href="../../assets/stylesheets/app.css" />

</head>
<body>

	<div class="row">
		<div class="large-12 columns">
			<p class="center headline">Model citizens. Where culture begins. <a href="">Invitation</a> only.</p>
		</div>
	</div>

	<div class="row">
		<div class="large-4 columns">
			<ul id="filters" class="clearfix">
				<li id="melbourne" class="left selected"><a>Melbourne</a></li>
				<li id="sydney" class="left"><a>Sydney</a></li>
			</ul>
		</div>
		<div class="large-4 columns">
			<h1><a id="logo" href=""><img class="model-image" src="img/logo.svg" /></a></h1>
		</div>
		<div class="large-4 columns">
			<ul id="sort" class="right">
				<li id="rank" class="right selected"><a>Rank</a></li>
				<li id="name" class="right"><a>Name</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="large-4 columns">
			<div class="card">
				<div class="image">
					<img class="model-image" src="img/placeholder.svg" />
				</div>
				<div class="metadata">
					<span class="model-name">Jane Doe</span>
					<span class="model-agency">Chadwick</span>
				</div>
			</div>
		</div>
		<div class="large-4 columns">
			<div class="card">
				<div class="image">
					<img class="model-image" src="img/placeholder.svg" />
				</div>
				<div class="metadata">
					<span class="model-name">Jane Doe</span>
					<span class="model-agency">Chadwick</span>
				</div>
			</div>
		</div>
		<div class="large-4 columns">
			<div class="card">
				<div class="image">
					<img class="model-image" src="img/placeholder.svg" />
				</div>
				<div class="metadata">
					<span class="model-name">Jane Doe</span>
					<span class="model-agency">Chadwick</span>
				</div>
			</div>
		</div>
	</div>

	<script src="../../assets/javascript/vendor/jquery.min.js"></script>
	<script src="../../assets/javascript/vendor/what-input.min.js"></script>
	<script src="../../assets/javascript/foundation.min.js"></script>
	<script src="../../assets/javascript/app.js"></script>
</body>